.form {
    background: #b3b3b3;
    padding: 16px;
    border-radius: 12px;
    width: 460px;
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin: 20px 0 0 4px;
    font-weight: bold;
    font-size: 18px;
}

.form input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #777;
    margin-top: 6px;
}

.form button {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    border: none;
    background: #3ba33c;
    transition: 0.25s;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.form button:hover {
    background: #266a26;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
}