.botoes-nav {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}

.menu .btn {
    border: none;
    padding: 12px 45px;
    border-radius: 25px;
    background: #3ca33c;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.menu .btn.active {
    background: #3ca33c;
}

.menu .btn.active:hover {
    background: #266a26;
}

.sidebar {
    display: flex;
    width: 180px;
    padding: 16px 0;
    border-radius: 16px;
    flex-direction: column;
}

.side-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

a.side-btn {
    border-radius: 15px;
    padding: 16px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
}

.azul {
    background: #3ba53c;
}

.tabela-area {
    min-width: 60%;
    padding-left: 20px;
}

.tabela-area h2 {
    margin-bottom: 15px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.tabela th, .tabela td {
    border: 4px solid black;
    padding: 10px;
    text-align: center;
}

/* Botões de ação */
.action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.action-buttons a {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.85em;
    font-weight: 600;
    transition: all 0.25s ease;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background: #3ca33c;
    color: white;
    border: 2px solid white;
}

.action-buttons a:hover {
    transform: scale(1.1);
    background: #266a26;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .side-btn {
        flex: 1 1 40%;
        max-width: 200px;
    }
}