* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eee;
}

/* Cabeçalho azul */
.header {
    background: #0288f7;
    height: 140px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.logo-circle {
    width: 90px;
    height: 90px;
    background: #b54497;
    border-radius: 50%;
}

/* Menu superior */
.menu {
    display: flex;
    background: #9d4d9d;
    height: 60px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.botoes-nav {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}

.menu .btn {
    border: none;
    padding: 12px 45px;
    border-radius: 25px;
    background: #3ca33c;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.menu .btn:not(.active) {
    background: #3090ff;
}

/* Container principal */
.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* Barra lateral */
.sidebar {
    display: flex;
    width: 180px;
    height: 180px;
    background: #b3b3b3;
    padding: 16px;
    border-radius: 16px;
    flex-direction: column;
    /*justify-content: space-evenly;*/
}

.side-btn {
    border: none;
    border-radius: 15px;
    padding: 16px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    gap: 16px;
}

.side-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.azul {
    background: #3f51b5;
}

.vermelho {
    background: red;
}

/* Área da tabela */
.tabela-area {
    flex: 1;
    padding-left: 20px;
}

.tabela-area h2 {
    margin-bottom: 15px;
}

/* Tabela */
.tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.tabela th, .tabela td {
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}

@media (max-width: 900px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .side-btn {
        flex: 1 1 45%;
        max-width: 200px;
    }

    .tabela {
        font-size: 16px;
    }
}