<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes</title>
    <link rel="stylesheet" th:href="@{/styles/css/listas.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/obrigatorio.css}"/>
</head>
<body>

    <!-- Cabeçalho -->
    <div class="header">
        <img width="90px" height="90px" th:src="@{/images/bk.png}" alt="Logo do projeto"/>
    </div>

    <!-- Menu superior -->
    <div class="menu">
        <div class="botoes-nav">
            <a th:href="@{/fastfood/ingredientes/listar}" class="btn active">Ingredientes</a>
            <a th:href="@{/fastfood/cardapio/listar}" class="btn">Cardápio</a>
            <a class="btn" th:href="@{/fastfood/pedidos/listar}">Pedidos</a>
        </div>
    </div>

    <!-- Conteúdo principal -->
    <div class="container">

        <div class="left-side">
            <div class="sidebar">
                <a th:href="@{/fastfood/ingredientes/criar}" class="side-btn azul">Adicionar Ingrediente</a>
            </div>
        </div>
        <!-- Barra lateral -->

        <!-- Tabela -->
        <div class="tabela-area">
            <h2>Estoque Ingredientes</h2>

            <table class="tabela">
                <thead>
                    <tr>
                        <th >Nome</th>
                        <th style="width: 15%">Quantidade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="ingredientes: ${ingredient}">
                    <td th:text="${ingredientes.nome}"></td>
                    <td th:text="${ingredientes.quantidade}"></td>
                    <td>
                        <div class="action-buttons">
                            <a th:href="@{/fastfood/ingredientes/alterar/{id}(id=${ingredientes.id})}">Alterar</a>
                            <a th:href="@{/fastfood/ingredientes/deletar/{id}(id=${ingredientes.id})}"
                               onclick="return confirm('Tem certeza que deseja apagar este ingrediente?')">
                                Apagar
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
